<div
  class="w-[220px] flex-shrink-0 cursor-pointer border border-neutral-800"
  [routerLink]="['/movie', movie.id]"
>
  <!-- Image -->
  <div class="relative aspect-[3/4] overflow-hidden group">
    <img
      [src]="movie.image_url"
      class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
    />

    <!-- HD -->
    <span
      class="absolute top-2 left-2 bg-red-600 text-[10px] px-2 py-0.5"
    >
      HD
    </span>

    <!-- STAR fix cứng -->
    <div
      class="hidden top-2 right-2 flex items-center gap-1
            text-[18px] px-2 py-0.5 text-white-400 group-hover:block group-hover:absolute hover:scale-120"
      [ngClass]="{'text-red-600': movie.isFavorited}"
      (click)="onClick($event)"
    >
      
      <i *ngIf="!movie.isFavorited" class="fa-regular fa-bookmark"></i>
      <i *ngIf="movie.isFavorited" class="fa-solid fa-bookmark"></i>
    </div>

    <!-- View count -->
    <span
      class="absolute bottom-2 right-2 bg-black/70 text-white text-[11px] px-2 py-0.5"
    >
      {{ movie.viewCount }}
    </span>
  </div>

  <!-- Info -->
  <div class="p-2 space-y-1">
    <!-- Name -->
    <h3 class="text-sm font-medium truncate">
      {{ movie.name }}
    </h3>

    <div class="flex flex-row justify-between items-center">
      <!-- Country -->
      <p class="text-[11px] text-gray-400 truncate">
        {{ movie.country?.name }}
      </p>
      <div
        class="bg-black/70 text-[12px] px-2 py-0.5 text-yellow-400"
      >
        ★ <span class="text-white">4.5</span>
      </div>
    </div>

    <!-- Created year -->
    <p class="text-[11px] text-gray-500">
      {{ movie.createdDate | date:'yyyy' }}
    </p>
  </div>
</div>
