body{
    margin: 0;
}
.background{
    background-image: url('../../assets/common/a2aedfe7174fb211eb5e.jpg'); 
    background-size: cover; 
    width: 100vw; 
    height: 100vh;
    position: relative;
}
.login{
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px;
    min-height: 60%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.login .input-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.login .input-wrapper img{
    position: absolute;
    right: 0;
}
.login input{
    background: rgba(255, 255, 255, 0.5);
    min-width: 300px;
    border: none;
    border-bottom: 1px solid;
    min-height: 35px;
    padding: 0px 10px;
}
.login input:focus{
    outline:none!important;
}
.login .btn{
    width: 130px;
    height: 35px;
    border-radius: 10px;
}
.login .btn:hover{
    cursor: pointer;

}
.login .sigup:hover{
    cursor: pointer;
}
.login .message{
    color: red;
}
.login a{
    color: black;
}
@media screen and (max-width: 440px) {
    .login{
        border-radius: 0;
        padding: 0px;
        width: 90%;
    }
    .login input{
        min-width: 0px;
        width: 300px;
    }
}