ul{
    list-style-type: none;
}


.listItem{
    display:flex;
    justify-content : space-between ;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}
.listItem p{
    min-width: 100px;
}
.listItem li{
    min-width: 100px;
}
.listItem li:hover{
    cursor: pointer;
}
.listItem li:hover .subList{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 20px;
    padding: 10px;
}

.subList{
    width: 200px;
    background-color: rgb(43, 42, 42);
    display: none;
    padding: 0px;
    position: fixed;
}

@media screen and (max-width:400px) {
    .listItem{
        margin: 0px;
        padding: 10px;
    }
}