.overlay {
  position: fixed;
  inset: 0;
  background: rgb(109, 109, 109, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.dialog {
  background: black;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
