<div class="bg-black h-full">
  <!-- Add Button -->
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-gray-800">Movie Management</h2>
    <button
      (click)="openAddModal()"
      class="bg-red-600 hover:bg-red-700 text-white font-medium px-4 py-2 rounded-md transition"
    >
      <i class="fa-solid fa-plus mr-1"></i>
      <span>Add Movie</span>
    </button>
  </div>

  <!-- Grid of Cards -->
  <div class="flex gap-5">
    <div *ngFor="let movie of movies" class="relative group w-fit">
      <app-card [movie]="movie"></app-card>

      <!-- Action Buttons -->
      <div
        class="absolute top-0 right-0 flex gap-2 opacity-0 group-hover:opacity-100 transition-opacity"
      >
        <button
          (click)="edit(movie)"
          class="bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded text-xs"
        >
          Edit
        </button>
        <button
          (click)="delete(movie.id)"
          class="bg-red-500 hover:bg-red-600 text-white px-2 py-1 rounded text-xs"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <app-modal #model></app-modal>
</div>
