<div>
  <app-movie-hero></app-movie-hero>

  <div class="mx-30 text-white">
    <h3 class="pt-10 text-2xl">Recently Updated</h3>
    <div class="flex items-center gap-4 pt-5">
        <div class="flex flex-row justify-between flex-grow gap-4">
            <app-small-card [movie]="movie"></app-small-card>
            <app-small-card [movie]="movie"></app-small-card>
            <app-small-card [movie]="movie"></app-small-card>
            <app-small-card [movie]="movie"></app-small-card>
            <app-small-card [movie]="movie"></app-small-card>
            <app-small-card [movie]="movie"></app-small-card>
        </div>
        <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="pt-10 flex items-center justify-between">
        <h3 class="text-2xl" >Trending</h3>
        <div class="flex items-center">
            <a href="">View all</a>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="flex flex-row justify-between flex-grow gap-4 pt-5">
        <app-card *ngFor="let movie of movies" [movie]="movie"></app-card>
    </div>
    <div class="pt-10 flex items-center justify-between">
        <h3 class=" text-2xl" >New Release</h3>
        <div class="flex items-center">
            <a href="">View all</a>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="flex flex-row justify-between flex-grow gap-4 pt-5">
        <app-card *ngFor="let movie of movies" [movie]="movie"></app-card>
    </div>
    <div class="pt-10 flex items-center justify-between">
        <h3 class="text-2xl">Recommended</h3>
        <div class="flex items-center">
            <a href="">View all</a>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="flex flex-row justify-between flex-grow gap-4 pt-5">
        <app-card *ngFor="let movie of movies" [movie]="movie" ></app-card>
    </div>
  </div>
</div>
