.comment-input-wrapper{
    display: flex;
    flex-direction: row;
    margin: 10px 20px 5px;
    gap: 10px;
    align-items: center;
}
.comment-input-wrapper .comment-input{
    flex-grow: 1;
    border: none;
    height: 35px;
    background-color:  rgb(30, 30, 30);
    border-bottom: 1px solid rgb(69, 68, 68);
    color: white;
}
.comment-input-wrapper .comment-input:focus{
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.comment-input-wrapper .send:hover{
    cursor: pointer;
}

.list-comment{
    color:white;
    list-style-type: none;
    gap: 30px;
}
.list-comment .text{
    margin-left:28px;
}
.list-comment .commentIcon{
    display: flex;
    gap: 5px;
    align-items: center;
}