<div class="cursor-pointer group text-white">

  <!-- Poster -->
  <div class="relative h-[250px] overflow-hidden rounded-lg">
    <img
      [src]="movie.image_url"
      class="absolute inset-0 w-full h-full object-cover
             group-hover:scale-110 transition duration-300"
    />

    <span
      class="absolute top-2 left-2 bg-red-600 text-xs px-2 py-1 rounded"
    >
      HD
    </span>
  </div>

  <!-- Title -->
  <h3 class="mt-2 text-sm truncate">
    {{ movie.name }}
  </h3>

</div>
